.request_list_wrapper {
    padding: 15px 0;

    .service-requests {
        .accept-requests {
            color: green;
        }

        .reject-requests {
            color: red;
        }
    }
}

.active-row {
    background-color: #d5d5d5;
}

.active-row:hover>td {
    background-color: #b3b3b3 !important;
}