@import '../../style/mixin.scss';

.header_wrapper {
    padding: 10px;
    position: sticky;
    height: 60px;
    background: #6446EC;
    top: 0;
    z-index: 1000;

    @include mq('phone') {
        height: auto;
        // background: #fff;
        .header_upper {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
            .icon_area {
                width: 20%;
                img{
                    width: 30px;
                    height: 30px;
                }
            }
    
            .location_area {
                p{
                    margin-bottom: 6px;
                    font-size: 18px;
                }
            }
    
            .notification_area {
                width: 55%;
                display: flex;
                justify-content: space-evenly;
                text-align: right;
                font-size: 22px;
            }
        }
    
        .search_area {
            .search_service {
                border-radius: 15px;
            }
        }
    }

    .header_upper{
        display: flex;
        color: #fff;
        .header_left{
            width: 60%;
            display: flex;
            .logo{
                img{
                    width: 38px;
                }
                margin-right: 10px;
            }
            .search_area{
                width: 70%;
                .search_service{
                    font-size: 16px;
                }
            }
        }
        .header_right{
            color: #fff;
            font-size: 20px;
            width: 40%;
            display: flex;
            justify-content: space-around;
            text-align: center;
            & > div {
                // width: 30%;
            }
            a{
                color: #fff;
                h4{
                    color: #fff;
                    margin-right: 2px;
                    display: inline-block;
                }
            }
        }
    }

}