$base-color: #6673DE;
$white-color: #ffffff;
$black-color: #000000;
$red-color: #E42217;
$green: #3EA055;
$green-light: #7DCE13;
$yellow:#E9AB17;
$purple:#80489C;
$blue: #554994;
$orange:#FFA500;

$light-gray: #f5f5f5;
$light-black: #333333;
$light-red: #FFCCCB;
$light-green: #B5EAAA;
$light-blue: #cae6ed;

$text-secondary : #6c757d;
$border-color: #dddddd;
$ps-color: #fbeaeb;

$active:#e1f0ff;
$btn-radius:4px;

$modal-bg: rgb(3 3 3 / 50%);
$scroll-bg:#CCCCFF;


$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
$box-shadow-small: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
$box-shadow-box: 0 .5rem 1rem rgba(0, 0, 0, .15);

$filter-base-color: invert(50%) sepia(19%) saturate(1748%) hue-rotate(196deg) brightness(90%) contrast(93%);
$filter-white-color: invert(100%) sepia(100%) saturate(0%) hue-rotate(306deg) brightness(107%) contrast(103%);